@using TrafalgarSquare.Web.ViewModels;
@model PostViewModel

<div id="wrapper">
    <h1 class="text-warning">@Model.Title</h1>
    <hr/>

    <ul class="nav nav-pills">
        <li class="active">
            @*<a href="FunnyPictures#"><span class="glyphicon glyphicon-star"> Joke Likes</span> <span class="badge">@Model.Likes</span></a>*@

            @Html.ActionLink("Joke Likes", "LikesIndex", "Posts", new { id = @Model.Id }, new { @class = "glyphicon glyphicon-thumbs-up" })


            @*<a href="/posts/LikePost/@Model.Id"><span aria-hidden="true"></span><span class="glyphicon glyphicon-thumbs-up"> Like this joke</span></a>*@

            @Html.ActionLink("Like this joke", "LikePost", "Posts", new { id = @Model.Id }, new { @class = "glyphicon glyphicon-thumbs-up" })
        </li>
    </ul>

    <p>@Model.Text</p>
    <br/>

    <div>

        @if (!string.IsNullOrEmpty(@Model.User.AvatarUrl))
        {
            <div class="col-md-2">
                <img src="@Model.User.AvatarUrl" alt="@Model.User.Username" style="max-width: 30px"/>
            </div>
        }
        <strong>Author: </strong><a href="#">@Model.User.Username</a> <br/>
        <strong>Posted on: </strong><a href="#">@Model.CreatedDateTime</a>
        <small>@*Is reported: @Model[i].IsReported*@</small>
    </div>

    <br>

    <a href="#" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-bell"> Report something</span></a>
    <a href="#" class="btn btn-warning btn-xs"><span class="glyphicon glyphicon-pencil"> Edit</span></a>


    @if (@Model.CommentsCount == 0)
    {
        <a href="/Categories/DeletePost/@Model.Id" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"> Delete</span></a>
    }
    else
    {
        <a href="/Categories/DeletePost/@Model.Id" class="btn btn-danger disabled btn-xs"><span class="glyphicon glyphicon-trash"> Delete</span></a>
    }

    <div class="post-box text-center">
        <br>

        @*==========LOADING PARTIAL CONTENT*@

        @if (!string.IsNullOrEmpty(@Model.Resource.FileUrl))
        {
            <span>Attached file: </span>
            <a href="@Model.Resource.FileUrl">download</a>
        }
        @if (!string.IsNullOrEmpty(@Model.Resource.PictureUrl))
        {
            <img src="@Model.Resource.PictureUrl" class="img-thumbnail joke-box-image" alt="@Model.Title"/>
        }
        @if (!string.IsNullOrEmpty(@Model.Resource.VideoUrl))
        {
            <!-- <video controls>
                <source src="@Model.Resource.VideoUrl" type="video/mp4">
                Your browser does not support HTML5 video.
                https://www.youtube.com/embed/2hUvgZ_djmk
            </video> -->

            <iframe width="640" height="390" src="@Model.Resource.VideoUrl" frameborder="0" allowfullscreen></iframe>
        }
    </div>


    @*===============COMMENTS*@
    
    <div class="panel-footer-custom">

        @if (@Model.CommentsCount == 0)
        {
            <h4>Comments <span>(@Model.CommentsCount)</span></h4>

            <a href="" class="btn btn-success disabled" id="view-comments">View Comments</a>
            <a href="" class="btn btn-default" id="create-comment-button">Post New Comment</a>

        }
        else
        {
            <h4>Comments <span>(@Model.CommentsCount)</span></h4>

            @Ajax.ActionLink("View Comments", "DisplayById", "Comments", new { id = @Model.Id },
                        new AjaxOptions
                        {
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "comment-box",
                            LoadingElementId = "loading-status"
                        }, new { @class = "btn btn-success" })

            <a class="btn btn-default" id="create-comment-button">Post New Comment</a>
            <br /><br />

            <img id="loading-status" src="/Content/loader-anim.gif" alt="" style="display: none" width="35" />
            <div id="new-comment-preview"></div>
        }

        @Html.Partial("~/Views/Comments/_CreateCommentPartialView.cshtml", new CreateCommentBindingModel() { CommentText = "", PostId = @Model.Id })
        @section Scripts{
            @*<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>*@
            <script>
                function commentCreatedSuccess() {
                    $("#create-comment-box").hide();
                    $('#CommentText').val('');
                    //$('#view-comments').trigger("click");
                };
            </script>
        }


        <div id="comment-box"></div>

    </div>


</div>

<script>
    $("#create-comment-button").on("click", function (ev) {
        var el = $("#create-comment-box");
        if (el.css('display') == 'none') {
            $("#create-comment-box").show();

        } else {
            $("#create-comment-box").hide();
        }
    });
</script>